/* global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 300;
    color: orange;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

.texto-negro {
	color: #000;
}
/*nav*/
.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    color: #c2c2c2;
    transition: .5s ease;
}
/*marca*/
.nav .marca {
    font-size: 25px;
}
/* header*/
.header {
    background: url('../img/background.jpg');
    background-position: center;
}
/* titulo */
.header .contenedor-titulo {
    text-align: center;
    position: relative;
    z-index: 99;
}
.header .titulo {
    font-size: 75px;
    text-transform: uppercase;
}
.header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    font-size: 40px;
    animation: bajar-subir 2s ease infinite;
}
/* menu */
.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 10px 20px;
}
/*fullpage right*/
#fp-nav ul li a span {
    background: orangered;
}
/* animacion boton */
@keyframes bajar-subir {
    0% { transform: translateY(20px); }
    25% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}